/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive;
*/

body {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #655D8A;
    position: relative;
    padding-top: 7em; /* (102px) */
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;  /* (90px) dynamic font size 16px = 100% = 1em */
    margin: 3.125rem auto 0 auto; /* (50px) */
    font-weight: bold;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

.my-profile {
    width: 13rem;  /* (200px) */
    height; 13rem; /* (200px) */
    position: absolute-inline;
    border-radius: 50%;
}

hr {
    border: dotted #EAF6F6 0.6rem;
    border-bottom: none;
    width: 4%;
}

p {
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem; /* (32px) */
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.middle-container {
    margin: 6rem 0;
}

.skill-row {
    width: 50%;
    display: inline-block;
    margin: auto;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skills-img1 {
    width: 12.5rem;
    border-radius: 50%;
    float: left;
    margin-right: 0.85rem;
}

.skills-img2 {
    width: 12.5rem;
    border-radius: 50%;
    float: right;
    margin-left: 0.85rem;
}

.intro {
    margin: auto;
    width: 30%;
}

.contant-message {
    width: 30%;
    margin: 2.5rem auto 3.75rem;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.brain-img {
    width: 20rem;
    height: 16.133652em;
}

.pcb-img {
    position: absolute;
    width: 11rem;
    height: 11rem;
    left: 20rem;
    bottom: 10rem;
    opacity: 0.70;
}

.pcb-img:hover {
    opacity: 1;
}

.code-img {
    position: absolute;
    width: 11rem;
    height: 11rem;
    right: 22rem;
    top: 7rem;
    opacity: 0.70;
}

.code-img:hover {
    opacity: 1;
}


/* ****   Bottom & Footer & Contact-Me   **** */
.bottom-container {
    background-color: #66BFBF;
    padding: 35px 0 15px;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
}